body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
    background-color:white;
    
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color:  darkgreen;;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.1);
  flex-wrap: nowrap;
}

.logo img {
  width: 40px;
  height: auto;
  display: block;
  object-fit: contain;
}

.logo h1 {
  font-size: 20px;
  color: white;;
  margin: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color:  white;
  font-weight: 1000;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
}

nav a:hover {
  color: darkgreen;
}

.signup {
  background: white;
    color: darkgreen;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.signup:hover {
  background: #103123;
}
.logo {
  display: flex;
}

/* hero section*/

*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  margin: 0;
  padding: 0;
  box-sizing: border-box;  

    


.body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgreen;
}

.hero{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    background-image: url"((img/green glob.jpg))";
}

/*dark overlay for readability*/

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,55);
    z-index: 1;
}

.hero content{
     position: relative;
     z-index: 2;
     max-width: 800px; 
}

.hero h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.hero p{
    font-size: 1rem;
    color:darkgreen;
    margin-bottom: 30px;
}

.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
 
.btn{
    background: darkgreen;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 15px;
}

.btn:hover{
    background: #103123;
}

.btn-outline{
    background: transparent;
    border: 2px solid green;
}

.btn-outline:hover{
    background: #103123;
    color: darkgreen;
}

.nav-links{
    gap: 20px;
}

.hero h1{
    font-size: 2.2rem;
}

/*statment section and project section*/

.problem{
  color: darkgreen;
  text-align: center;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 30px;
}
 
.statment{
  color: darkgreen;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-weight: lighter;
}
 



.main_1 {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  justify-content: space-around;
  background-color: darkgreen;
}

.img-1 img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  left:700px;/*move to the left*/
}
.text_div1 {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  right:600px;/*move to the right*/
}

.text_div1 h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  color: white;
}

.text_div1 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:white;
}

.text_div1 button {
  background: white;
    color: darkgreen;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 10px;
}

.text_div1 button:hover {
  background: #103123;
}
  




.main_2 {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  justify-content: space-around;
  background-color: darkgreen;
}

.img-2 img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 50px;
  justify-content: center;
  
}
.text_div2 {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.text_div2 h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  color: white;
}

.text_div2 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:white;
}

.text_div2 button {
  background: white;
    color: darkgreen;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 10px;
}

.text_div2 button:hover {
  background: #103123;
}
  





.main_3 {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  justify-content: space-around;
  background-color: darkgreen;
}

.img-3 img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 50px;
  justify-content: center;
  position: relative;
  left: 700px;/*move to the left*/
}
 

.text_div3 {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  position: relative;
  right: 600px;/*move to the right*/
}

.text_div3 h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  color: white;
}

.text_div3 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:white;
}

.text_div3 button {
  background: white;
    color: darkgreen;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 10px;
}

.text_div3 button:hover {
  background: #103123;
}
  






.main_4 {
  width: 100%;
  height: 300px;
  display: flex;
  gap: 50px;
  margin-top: 20px;
  justify-content: space-around;
  background-color: darkgreen;
}

.img-4 img {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 50px;
  justify-content: center;
}

.text_div4 {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.text_div4 h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  color: white;
}

.text_div4 p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color:white;
}

.text_div4 button {
  background: white;
    color: darkgreen;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin-top: 10px;
}

.text_div4 button:hover {
  background: #103123;
}
  


/*this is my footer section*/

.footer{
  padding: 50px 0;
  background-color: rgb(190, 171, 171);
}

.footer-container{
  display: flex;
  justify-content: space-between;
  max-width: auto;
  flex-wrap: wrap;
  text-align: center;
}

.footer-column{
  width: 30%;
  min-width: 250px;
  margin-left;5px:
}

.footer-column h4{
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: bold;margin-left: 5px;
  color: darkgreen;
  margin-left: 10px;
}

.footer-column ul{
  list-style: none;
  padding: 0;
  color: black;
}

.footer-column ul li{
  margin-bottom: 8px;
}

.footer-column a:hover{
  opacity: 1;
  color: #103123;
}

.footer-bottom{
  text-align: right;
  margin-top: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  
}

.footer-bottom p{
  opacity: 1;
  font-size: 14px;
  color: darkgreen;

}